<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="https://github.com/mmalarie">Malarie</a>. A student on a mission to learn how to code.
  </p>
  <br />
  <p>
    This project has taught me how to build a web application, and how to connect an application to the internet for me to share. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Malarie McDonald</h2>
      <br />
      <p>
        Malarie McDonald is currently a Digital Marketing Manager, working towards becoming a Full-Stack Web Developer.
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />